body
{
    font-family: "Poppins";
    font-style: normal;
    width: 1400px;
    height: 3843px;
    
}

.navigation
{
    position: absolute;
    width: 1400px;
    height: 78px;
    left: 0px;
    top: 20px;
}

.nav--bar
{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.logo
{
    position: absolute;
    width: 185.34px;
    height: 31.97px;
    left: 143.92px;
    top: 22px;

}

.nav__li
{
    display: flex;
    align-items: center;
    list-style: none;
    position: absolute;
    height: 28px;
    
}

.nav--li
{
    padding-right: 2em;
}

.btn__sign-in
{
    
    width: 110px;
    height: 46px;
    border-radius: 4px;
    background-color: white;
    border-color: #BCD0E5;
}

.btn__sign-up
{
    
    width: 110px;
    height: 46px;
    background: #FF9900;
    border-radius: 4px;
}

.header
{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 1126px;
    height: 496px;
    left: 345px;
    top: 128px;
}

.header--text
{
    position: absolute;
    width: 518px;
    height: 331px;
    left: 20px;
    top: 211px;
}

.h--btn--1
{ 

   font-weight: bold;
   font-size: 16px;
   color: #ffff;
   width: 175px;
   height: 53px;
   line-height: 24px;
   background: #FF9900;
   border-radius: 4px;
   border-color: #ffff;
}

.h--btn--2
{ 

font-weight: 600;
font-size: 16px;
line-height: 24px;
text-decoration-line: underline;
color: #FF9900;
background-color: #ffff;
border: none;

}

.feature
{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 1126px;
    height: 496px;
    left: 10%;
    top: 734px;

}

.feature--h
{
    
    height: 108px;
    width: 539px;
    left: 845px;
    top: 0px;
    font-weight: 700;
    font-weight: bold;
    font-size: 20px;
    text-align:center;
  
}

.f-head
{
    font-weight: 600;
    font-size: 22px;

}

.f--container
{

    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-left: -200px;
    width: 1095px;
    height: 204px; 
    padding-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
}

.f-containter-1
{
    
    width: 240px;
    height: 178px;
    padding-right: 55px;
}


.f-containter-2
{
    width: 240px;
    height: 178px;
    padding-right: 55px;
}

.f-containter-3
{
    width: 240px;
    height: 178px;
    padding-right: 55px;
}

.f-containter-4
{
    width: 240px;
    height: 178px;
}

.f--btn
{
    width: 175px;
    height: 53px;
    margin-top: 280px;
    margin-left: -705px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
}

.e--container
{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 1110px;
    height: 574px;
    left: 345px;
    top: 1397px;
}

.e--card-1
{
    padding-top: 30px;

}

.e--text
{
    position: absolute;
    left: 20px;
    width: 486px;
    height: 531px;
    
   
}

.e--h5
{
    width: 385px;
    height: 45;
    font-weight: bold;
    font-size: 36px;
    color: #2F281E;
    margin:0%;

}

.e--h6
{
    width: 211px;
    height: 26px;
    font-weight: 500;
    font-weight: bold;
    font-size: 16px;
    
}

.e--p
{
    width: 486px;
    height: 52px;
    font-weight: 500;
    font-size: 16px;
    color: #544837;
    margin:0%;

}

.p--container
{
    position: absolute;
    width: 1121px;
    height: 521px;
    left: 80px;
    top: 2200px;

}

.p--text
{
    position: absolute;
    width: 1121px;
    height: 521px;
    left: 800px;
    top: 2200px;
    text-align: left;
    line-height: 24px;
    
}

.check
{
    position: relative;
    top: 60px;
    
}
.p--p
{
    margin-left: 100px;
    font-weight: 500;
    font-size: 16px;
    color: #544837;
}

.p--h5
{
    margin-left: 100px;
    font-weight: bold;
    font-size: 36px;
    color: #2F281E;
    
}

.m--container
{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 1110px;
    height: 800px;
    padding-left: 100px;
    left: 345px;
    top: 3000px;
}

.m--card-1
{
    padding-top: 30px;

}

.m--text
{
    position: absolute;
    left: 20px;
    width: 486px;
    height: 531px;
    
   
}

.m--h5
{
    width: 190px;
    height: 54px;
    font-weight: bold;
    font-size: 36px;
    color: #2F281E;
    margin-top:5px;
    

}

.m--h6
{
    width: 211px;
    height: 26px;
    font-weight: 500;
    font-weight: bold;
    font-size: 16px;
    
}

.m--p
{
    width: 486px;
    height: 78px;
    font-weight: 500;
    font-size: 16px;
    color: #544837;
    margin:0%;

}

.footer
{
    position: absolute;
    width: 1109px;
    height: 308px;
    left: 160px;
    top: 4100px;
    
}

.footer--logo
{
    position: absolute;
    width: 185.34px;
    height: 31.97px;
    left: 143.92px;
    top: px;
}

.f--ul-1
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    width: 118px;
    height: 205px;
    left: 484px;
    top: 40px;
    font-size: 16px;
    list-style-type: none;
    color: #544837;

}

.f--ul-2
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    width: 200px;
    height: 205px;
    left: 731px;
    top: 40px;
    font-size: 16px;
    list-style-type: none;
    color: #544837;
}

.footer--btn
{
    position: absolute;
    left: 1100px;
    top: 180px;
    width: 131px;
    height: 39px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
}